{% extends "base.html" %}

{% block title %}
Acerca de...
{% endblock %}

{% block content %}
<div class="text-center mt-4">
    <h2>Sobre mí</h2>
    <p class="lead mt-3">mi nombre es: <strong>Brisa Rangel Palacios</strong>, tengo <strong>17 años</strong>.</p>
    <p>Me gusta mucho salir, conocer nuevos lugares y personas, ver películas, convivir con mi familia y amigos, y hacer actividades físicas.</p>
    <p>En un futuro quiero terminar una carrera que me guste, tener un buen trabajo estable, estar bien económicamente y tener mis propias cosas.</p>
    
</div>
{% endblock %}
